.libre-caslon-condensed- {
  font-family: "Libre Caslon Condensed", serif;
  font-optical-sizing: auto;
  font-weight: 1000;
  font-style: normal;
}

header
{
    background-color:rgb(218, 175, 218);
    font-family: "Libre Caslon Condensed";
}

main
{
    background-color: rgb(247, 116, 208);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

footer
{
    background-color: rgb(130, 255, 6);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

summary
{
    background-color: cyan;
    font-family: 'Times New Roman', Times, serif;
}

button
{
    background-color: rgb(238, 74, 161);
    font-family: Arial, Helvetica, sans-serif;
}